.block {
    display: block;
    width: 8%;
    border-color: #000000;
    background-color: #06cf85;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    font-family: "Monaco";
    cursor: pointer;
    text-align: left;
    /*vv The rounding stuff vv*/
    border-radius: 8px;
  }
  
  .block:hover {
    background-color: #ddd;
    color: black;
  }