nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--prim-color);
  margin: 0;
}

nav > div {
  display:flex;
}

.nav-link {
  background-color: var(--prim-color);
  padding: 10px;
  color: black;
  text-decoration: none;;
}

.active {
  background-color: var(--third-color);
}

.nav-link:hover:not(.scl) {
  background-color: var(--secondary-color);
}

.scl {
  transition: transform 0.2s;
  background-color: transparent;
}
.scl:hover {
  transform: scale(1.2, 1.2);
}