:root {
    --x: 50%;
    --y: 50%;
    --article-width: 75vw;
    /* transition: all 0.1s; */

    --font-size-h1: 2.25em;
    --font-size-h2: 1.75em;
    --font-size-h3: 1.50em;
    --font-size-n: 1.25em;
    --font-size-s: 1.00em;
}

/* styles for browsers smaller than 960px; */
/* @media only screen and (max-width: 960px) {
    :root {
        --font-size-h1: 1.75em;
        --font-size-h2: 1.25em;
        --font-size-h3: 1.0em;
        --font-size-n: 0.75em;
        --font-size-s: 0.50em;
    }
} */
/* styles for browsers smaller than ; */
/* @media only screen and (max-width: 500px) {
    :root {
        --font-size-h1: 1.5em;
        --font-size-h2: 1.0em;
        --font-size-h3: 0.75em;
        --font-size-n: 0.50em;
        --font-size-s: 0.25em;
    }
} */
/* for sumo sized (mac) screens */
/* @media only screen and (max-width: 300px) {
    :root {
        --font-size-h1: 1.5em;
        --font-size-h2: 1.0em;
        --font-size-h3: 0.75em;
        --font-size-n: 0.50em;
        --font-size-s: 0.25em;
    }
} */

.article-head {
    height: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    overflow: auto;
    width: var(--article-width);
    background: url("../global/img/leo_visions-nzdvmBa8lb0-unsplash.jpg");
    background-size: cover;
    background-position-y: center;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-head-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    /* make it transparent bg */
    opacity: 0.4;
}

.article-title {
    font-size: var(--font-size-h1);
    text-align: center;
    word-wrap: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.article-author,
.article-date {
    font-size: var(--font-size-h3);
}

.back-btn {
    width: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: var(--font-size-n);
    transition: letter-spacing 1s;
    max-width: 300px;
    background-color: linear-gradient(90deg, rgba(157, 36, 227, 0.278), rgba(157, 36, 227, 0.141));
}

.back-btn-name {
    margin-right: 100px;
    transition: margin-right 1s;
}

.back-btn:hover .back-btn-name {
    margin-right: 0px;
}

.back-btn:hover {
    cursor: pointer;
    letter-spacing: 10px;
}

.back-btn-arrow1 {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.1s;
}

.back-btn:hover .back-btn-arrow1 {
    opacity: 1;
}

.back-btn-arrow2 {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
}

.back-btn:hover .back-btn-arrow2 {
    opacity: 1;
}

.back-btn-arrow3 {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
}

.back-btn:hover .back-btn-arrow3 {
    opacity: 1;
}

div.content {
    width: var(--article-width);
    /* center it on the page */
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: var(--font-size-n);
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: var(--font-size-h1);
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: var(--font-size-h2);
}

h3 {
    font-family: "Fira Sans", sans-serif;
    font-size: var(--font-size-h3);
}

img:not(.logo):not(.banner-ico) {
    border: 1px solid black;
    border-radius: 10px;
}

/* if screen size small, make the article content font size smaller */
@media only screen and (max-width: 600px) {
    div.content {
        font-size: var(--font-size-n);
        width: 100%;
        padding: 5px;
    }

    .article-head * {
        font-size: var(--font-size-n);
    }

    img {
        width: 100%;
    }
}

pre {
    margin-top: 0;
}

.code {
    background-color: #282c30;
}

.snip {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
}

.file-name {
    color: #96d0ff;
    margin: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quote,
blockquote {
    padding-left: 1em;
    border-left: 2px solid gray;
    color: #333;
}