<p>
    It's been a long 3 years of this website. When I started I never thought it would be my proudest achievement, and that I'd be actively improving it almost 3 years from then. I began the project around March 2022, meaning as of March 2025, it's been 3 years since I began. I want to go over what I've learned, what's happened to me, and where I hope to go from here.
</p>

<section>
    <h2>What's happened?</h2>
    <p>
        I want to quickly go over what the past 3 years has looked like for this website. It began as a single HTML file hosted on a shady website (which I forget the name of). I quickly learned about multiple pages, and made a simple about me and list of my favorite things. It didn't take long for me to need an expansion, so I learned the basics of static site development, and hosted it on 000webhost for a few months. I moved over to github.io, and it stayed there for a while.
    </p>
    <p>
        I consider that phase of this website to be kind of like the "dark ages". They weren't bad- but I obviously had no idea what I was doing. Looking back, I was inspired to write <a href="https://natelevison.com/blog/article/we-are-all-stupid">&{We are all stupid}{Be critical of yourself}</a>, because I noticed I thought I was learning a lot. Now I struggle with a mix of imposter syndrome and overconfidence, but that's the fun in programming- not knowing when you might make a breakthrough.
    </p>
    <p>
        After that, I finally moved over to a self-hosted backend. This moment, when I switched over to express.js, is what I consider to be the most influential change over this website. I stopped paying attention to design and UX (as much), and instead on features and the like. I began to realize the importance of what I had built so far, so I began preserving the old website and writing about my experiences, which morphed into this blog.
    </p>
    <p>
        I started identifying my proudest achievement of my life as this website, and the website began to look like a time capsule. At that point, I could look back at previous years, and read what I had written at that time. I also began writing less about the website and more about my thoughts, and then around February, my grandmother died. This completely shifted my outlook on like, and that was reflected in the writing of my blog. Remembering, the blog article I wrote while struggling with her impending death, became my most read piece of writing, as it was published in the school literary magazine, Echoes. My entire family read it too, and surprisingly, my grandpa and my aunts found the piece valuable and insightful. That meant a lot to hear.
    </p>
    <p>
        I have since improved the infrastructure of this website. It used to be run via Nginx and Node.js on my personal computer, but early September,I bought an old computer and moved over to there, and now my website runs in a WSL container on a Windows machine on a shelf. It's better that way, and I think this period of my life is when I will be learning the most. I hope to keep learning throughout my life, though.
    </p>
    <p>
        By the way, you can read a more laid-back version of this section on my <a href="https://natelevison.com/blog/updates">Update Page</a>.
    </p>
</section>

<section>
    <h2>What I've learned</h2>
    <p>
        Obviously, as I've said, being critical of myself has been the most valuable resource I have attained during my journey. During the "dark ages" of this site, I didn't realize how far behind I was. I don't regret how I started out, I just wish I had a better foundation in actual static site hosting.
    </p>
    <p>
        I've learned alot about good programming practices. First, about documentation and code reusability. This website has picked up some cobwebs, meaning I have to upgrade and fix parts of the website a bunch. At first, I just threw code together until it worked, and left it, but that proved nearly impossible to reuse. I have since documented and commented tons of my code, and I am actively commenting even more. It helps when I have to return to code after months or even years, I can look at comments to get back on track.
    </p>
    <p>
        Visual design was a struggle at the start but I am getting better. I have learned a lot about visual hierarchy and consistency. I try to maintain a consistent style, but at this point, this is my biggest weakness. However, I have learned about when to use serifs vs sans-serifs, and I have learned a bunch about best design practice.
    </p>
    <p>
        Lastly, I've just learned a bunch of programming. I've learned nginx, typescript, file management, the command line, advanced server software, logging, and more. These skills that I have gained are very important, both for the current projects I am working on, and any future goals I might have.
    </p>
</section>

<section>
    <h2>Future of natelevison.com</h2>
    <p>
        I hope to upgrade the frontend of this website to either Svelte or Astro, but I just haven't had the time to make such a drastic change. As I said, this website is growing cobwebs, but I'm doing my best to improve the programming behind the site.
    </p>
    <p>
        I also will write more blog posts. I haven't really been able to post as much (as will be discussed sooner or later) but I have more on my mind and more interesting things to say.
    </p>
    <p>
        I can not express how meaningful this website is to me. It represents a version of me from 3 years ago, and the current version of me. It serves as a time machine that I can use to see what I was thinking about. And it's been a great portfolio item- I can only hope that some of the college recruiters have looked through my site!
    </p>
    <p>
        I'm looking forward to writing a lot more for this site. Thanks for reading, Grandma!
    </p>
</section>