<p>
    I am devastated. Internally, I am shaken to my very core. I'll miss MatPat. I never understood what it felt like to be aging. But it's happening for me.
</p>
<p>
    MatPat possibly gave me the curiosity that I so closely follow to this day. I was sobbing when Technoblade died, and that was a while ago. But one of my <i>childhood youtubers</i> is leaving. Wow.
</p>
<p>
    What do I even say here? Tom Scott is leaving. MatPat is leaving. Who else is gonna go? This is truly the end of an era, and that really is putting things into perspective for me. I'm getting older. I look back to when I was younger, and I truly realize how long its been and how much has changed. I remember the first day of Chemistry class. That was a year ago. It's been so long, really, since, I dunno, I was born. 
    
</p>
</p>
    March 11 will be a dark day on the internet. So many others, not just myself, are devastated by this loss, and the fact that it was so sudden makes it even worse. The channel I watched all the time, that uploaded for years, and there's only 8 videos left. Eight. And it will never be the same.
</p>
<p>
    Why am I so upset by this? It's just a voice with some pixels. I guess it just hits differently because of how I never realized that history truly repeats itself. I always wondered why my dad was so upset when Eli Manning retired from football, or when Derek Jeter retired from baseball. Because since he was younger, they were always playing, they were always there. Its like things that stay constant in your life are like pillars, and you always assume those pillars and fully structurally sound. Its just shocking.
</p>
<p>
    I'll miss the theories. I'll miss the jokes. I'll miss the games. I'll miss the catchphrase. I'll miss Game Theory. And I never talked about it, but I'm starting to miss my grandma (not you, grandma ilyse) too. I don't think she'll remember me anymore. Another pillar in my life, one of the best people I know. A soul that shines so bright, you'd be blinded by her kindness, her humor, and her love for her kin. And she's not dead- far from it. But she doesn't know me anymore. Grandma isn't constant either. I'm sad. Life is changing.
</p>

<p>
    Sorry for the yap. More interesting stuff coming soon. Bye.
</p>