<i>CURRENTLY UNLISTED</i>
<section>
    <h2>Why you should boycott google</h2>
    <p>
        <i>Sources are in the bottom section of this article.</i>
    </p>
    <p>
        Recently, Google showed the world the cowards they are by erasing Holocaust Remembrance Day, Jewish Heritage Month, the beginning of Black History month, Pride month, and more important calendar events relating to minorities. It is unclear what served as the immediate impetus for this, but it is obvious that the anti-DEI and anti-immigrant rhetoric and actions by the current administration have served a major role in the new doublespeak being implemented across the web by social media companies.
    </p>
    <p>
        It is an utter disgrace the six million Jews who were slaughtered during the Holocaust, and the millions more who have experienced turmoil for their identity throughout history. We owe our Jewish peers a single day to commemorate the Holocaust, and Google, the tech giant, has shown little regard for them. <i>Although they are a monopoly, they are not immune to boycott.</i>
    </p>
    <p>
        We, as Jews, cannot allow Google to send the wrong message to other tech monopolies. If other companies get the idea that they can ignore the Jews, or the government gets the idea that we will stay silent, the inevitable will happen, and our enemies will rise up again to eliminate us. As a nation we cannot permit this to even be possible.
    </p>
</section>
<section>
    <h2>How to boycott Google</h2>
    <p>
        Google Calendar is replaceable. They use a standardized calendar system that other products implement. Alternatives like Outlook, Apple Calendar, to-do list apps, and good 'ol pen and paper exist, and are well established. Personally, I will be switching to Apple Calendar, as it will sync with my iPhone, and is accessible through the web and on Apple products.
    </p>
    <p>
        Other products are less replaceable. Although alternatives to Gmail and Drive exist, these products have so well seized the markets that it is impossible to function as a member of society without these products, among others. I will instead limit my use of these products, by using local text editors (like Word or Pages) and saving files locally.
    </p>
    <p>
        Additionally, you can go even further by using alternatives to Google search, which is Google's second most profitable product. Google serves ads and promotes partners through their searches, and makes billions from this practice. By using alternatives like DuckDuckGo or Bing, you can cut off Google from the money they make from you.
    </p>
    <p>
        Google's most profitable product is their advertisements and browser, Google Ads (in conjunction with Chrome). Their advertisements are used across the web, and by using an adblocker, notably uBlock Origin, you can refuse Google the priviledge of making money off our backs.
    </p>
    <p>
        Despite Google's monopoly, we can make an impact. Use an adblocker, use DuckDuckGo, and if possible, switch to Firefox. Switch to alternatives to Google Calendar, Gmail, Drive, and other products. And spread the word. Google is not invulnerable, and we must speak up.
    </p>
</section>
<section>
    <h2>Conclusions</h2>
    <p>
        <a href="https://nypost.com/2025/02/11/business/google-calendar-erases-black-history-month-pride-month-amid-trumps-dei-crackdown/">New York Post article</a>
        <br>
        <a href="https://www.newsweek.com/google-removes-pride-month-calendar-black-history-holocaust-remembrance-2029257">Newsweek article</a>
    </p>
    <p>
        Boycotting Google is the first step to many for the Jewish people to make their voices heard. Google's actions are textbook examples of identity erasure, which are the beginnings of an ethnic cleansing. I'd like to leave off with a poem I love and hate, which speaks so clearly to why we are at this point, and why we must not stay silent.
    </p>
    <p>
        It is called <i>First They Came</i>, written by Martin Niemöller. It is about what happens when we stay silent against the villainization and persecution of minorities and fringe groups. The below passage is a revised version by the British Holocaust Memorial Day Trust.
    </p>
    <blockquote>
        <p>
            First they came for the Communists <br>
            And I did not speak out <br>
            Because I was not a Communist <br>
        </p>
        <p>
            Then they came for the Socialists <br>
            And I did not speak out <br>
            Because I was not a Socialist <br>
        </p>
        <p>
            Then they came for the trade unionists <br>
            And I did not speak out <br>
            Because I was not a trade unionist <br>
        </p>
        <p>
            Then they came for the Jews <br>
            And I did not speak out <br>
            Because I was not a Jew <br>
        </p>
        <p>
            Then they came for me <br>
            And there was no one left <br>
            To speak out for me <br>
        </p>
    </blockquote>
    <p>
        First they came for the immigrants. Then they came for the gay and trans people. Then they came for us. Thanks for reading, grandma.
    </p>
</section>