<section>
    <h2>The Followup</h2>
    <p>
        It took way too long to write a follow-up to
        <a href="https://natelevison.com/blog/article/forgetting">Forgetting</a>. It was published in Echoes and my
        whole family saw it. Other than my college essay, it is the most impactful / important piece of writing I have
        ever written. I should have written this immediately after the funeral. But I just couldn’t. It hurts.
    </p>
    <p>
        Unfortunately, I was also almost entirely correct with my predictions. I made the grim prediction that the
        process of mourning would be similar to that of the stages of Alzheimer’s. Taken from the previous article:
    </p>
    <blockquote>
        <p>
            And is the reaction to [the loss of] a loved one not strangely similar to [Alzheimer’s] itself? Mild
            symptoms - as loved ones hear the news, they are in denial. They refuse to accept the fate of their family
            member. Moderate symptoms - slowly, the differences in behavior change the identity of the family member in
            their memory. It takes slightly more time to remember the loved one’s true personality. Severe symptoms -
            the state of their loved one takes a toll on the positive memories once held about that loved one. It takes
            extreme amounts of effort to look past the disease and see the true person trapped inside. Fatal symptoms -
            all hope is lost. All efforts are directed to preserving memories and closing any arguments or feuds.
        </p>
    </blockquote>
    <p>
        That’s definitely how the process went. When I wrote Forgetting, I wrote that paragraph to discuss the process
        of grieving before the loved one even passed away, but the whole process seems to repeat after the fact. And I
        totally was not prepared.
    </p>
</section>

<section>
    <h2>Grieving</h2>
    <p>
        Grieving for a loved one with Alzheimer’s is like grieving someone who already died. At least, that’s what my
        mom told me. And that feels accurate. I haven’t sobbed, I haven’t truly cried. Because I did that when I found
        out. That was when my grandma died. Not in bed surrounded by family, but when she forgot more and more.
    </p>
    <p>
        The grieving process starts with “mild” symptoms. Obviously not mild, but small compared to what is to come.
        These feelings wash over you like a wave. Like jumping into the pool, but you are already wet. It doesn’t really
        hit the same way. My mom told me she died, and I would have cried. But she was already dead at that point. She
        didn’t know how to eat, she didn’t know her name, she knew nothing but instinct. What kind of life is that?
    </p>
    <p>
        The moderate symptoms are when you start to realize. At least for me. You move on from the speeches and
        discussions and shivas all to remember the amazing person lost, and you start thinking about who they were at
        the end. The person in the photos, the person you are talking about, the person in your memory, is not the same
        as who they were at the end. Just like before the passing, moderate symptoms include more effort to remember
        their true personality.
    </p>
    <p>
        Then comes severe symptoms. It still feels numb. But it still feels raw. You go a day without thinking about it,
        and you feel disgusted. How could you forget? How could you not think about her? How dare you live in peace,
        while your mom is praying every night, and your grandpa sleeps alone for the first time in decades? How do you
        sleep? I ask myself this hoping for an answer. But it won’t come. How can I be happy?
    </p>
</section>

<section>
    <h2>Fatal Symptoms</h2>
    <p>
        Last comes fatal symptoms.
    </p>
    <p>
        I visited my grandpa a month or two ago. His Florida house. The last house my grandma lived in. And something
        felt wrong. If you’ve ever read <em>A Mango Shaped Space</em> by Wendy Mass, you’d know what it feels like to
        have a grandma-shaped hole in the house. It felt uneven. More signs appeared. I looked at the side couch and I
        saw my grandma laying there, under a yellow blanket. I looked at the Alexa, and I saw my grandma reprimanding my
        sister after she told it to tell a rude joke. I look at the bed, and I see talking to my grandma until midnight
        during sleepovers. I look at the pillow, “A golfer and a normal person live here,” and although ironic, it isn’t
        funny. It isn’t funny. It’s wrong.
    </p>
    <p>
        I had a dream a week or so ago. It was something about being with my grandparents talking about colleges. It was
        a pleasant experience, like nothing was wrong. I woke up, and I thought about the dream. It took a minute before
        I realized the person I was talking to was dead.
    </p>
    <p>
        The person I used to be is dead as well. My current self is similar, sure, but I’m different now. Some people
        think the old me is alive. Old friends I haven’t seen in years, they remember a different Nate. Old teachers,
        they remember a different Nate. Grandma, she knew a different Nate. (It’s striking—my writing is different too.
        Slightly more formal, different sentence structure, a few more commas. Quoting that passage from
        <em>Forgetting</em> really made me realize this.)
    </p>
    <p>
        And we are supposed to remember a different Grandma. For more than a year, we saw everything was wrong. Slight
        slip-ups turn to gaffes turn to nonsense sentences. And it’s hard to remember the younger Grandma. That person
        was already dead by the time we heard the news.
    </p>
</section>

<section>
    <h2>Why I’m Remembering</h2>
    <p>
        I decided to write this now because of what happened on Friday (August 30, 2024). I was talking to my Honors
        Literature of the Holocaust teacher. And I discussed a bracelet I purchased for my grandma in Italy. I was so
        excited to give it to her. I never got the chance. She died before I could visit. It had been months since I had
        seen her when she died.
    </p>
    <p>
        My mom brought it with her, and she said my grandma smiled when she saw it. I thought it was still there, almost
        a year later. But my mom showed me it on Thursday. I didn’t know it was in our house. I felt sick, and I ran
        downstairs. That should have been a dead person’s bracelet. It was for grandma. But she never truly had it. They
        whisked away her body, her possessions, signed papers, boom. Dead person. Deal with it, man. Right?
    </p>
</section>

<section>
    <h2>Why I’m Still Remembering</h2>
    <p>
        I’ve decided to finally publish this essay, piece of writing, whatever, on December 2. On the 30th was my
        grandmother’s unveiling. There was a smudge on the grave. I didn’t care though. I didn’t really cry—but there
        were tears flowing out of my eyes. I didn’t sob though. It felt strange.
    </p>
    <p>
        That’s a good way to describe this whole experience. Other than saddening—strange. It all feels wrong. I feel
        like I’ve spoken about <em>A Mango Shaped Space</em> before, but read it. That is how I feel—a grandma-shaped
        space.
    </p>
    <p>
        Thank you for reading, Grandpa, Grandma, Grandpa, Mom, Dad, and anyone else. I love you all more than you can
        possibly know. Also consider donating to Monterey Bay Aquarium. They do great work.
    </p>
</section>