<p>
    During a road trip with my mom, we listened to a podcast about free will, and whether or not it actually exists. Before listening to the podcast, I had already made up my mind, that no, free will does not exist. So, while listening to this podcast, my view of what the meaning of no free will changed.
</p>
<p>
    Before I listened, honestly, my opinion that free will didn't exist came out of my negative view of the world. <i>Oh, I failed this test? There's nothing I could've done</i>, or <i>Aw man, I am really miserable. Welp, there's no free will, so I guess I just have to suffer.</i>. In all, my "view" of free will was just an excuse to not take responsibility for my actions. I was just a victim of the world, and there was nothing I could do about it.
</p>
<p>
    But this podcast changed something about how I feel. It both helped me justify my view on free will, and make it more of a positive outlook on life.
</p>
<section>
    <h2>My current view of free will</h2>
    <p>
        The reason I believe in there not being free will, is because there is no other way anything could be. I see it as a function, probably a side-effect of my constant programming. For example, if you take a perfectly closed system, and put a bouncy ball in it, and dropped it at zero velocity, a smart mathematician could predict the position of the ball at any point in time, with 100% accuracy. We could add more variables, like wind, spin, and the ball's temperature, but as long as the true value was known 100%, so could the state at any point in time.
    </p>
    <p>
        Why do I explain this? Well, it's because the world is aware of its own exact state. If you take two sets of bouncy balls, and arrange them the exact same way, ignoring gravity, they would fall <i>exactly</i> the same way, at the same speed. The same goes for particles. Any two particles, if their true state was 100% known, could be predicted perfectly. And since the laws of physics know the true state, they can "predict" the future.
    </p>
    <p>
        This is where we get into the real world. The Big Bang happened <i>once</i>, and the particles were arranged in a certain way. If a very smart scientist, with very good equipment, and thousands of years of calculating power could know the exact state of all those particles at the singularity, eventually, they could predict the state of the universe at any point in time. This is because the universe is a closed system, and the laws of physics are the same everywhere.
    </p>
    <p>
        And this extends to the human brain. It is made of particles, of cells, of neurons, where if their exact state was known, could be predicted. And since the universe knows the exact state of the brain, it can predict the future. So this means that all decisions can be predicted, given near-infinite computational power.
    </p>
    <p>
        The main idea of all of this is saying that the state of the universe is entirely dependent on the previous state, which means there is no room for randomness, or as we call it, "free will".
    </p>
</section>
<section>
    <h2>Why do we think we have free will?</h2>
    <p>
        As the podcast informed me, free will is the most convincing illusion of all time. Think about it. Evolutionarily, having the belief of free will is incredibly motivating. If a creature understood it was not under control of its circumstances or its future, the creature would certainly lose hope, and would not try at all. Same with humans. Humans tend to fall into a depressive spiral when they believe they have no control over their own situation. For a hunter-gatherer human, this would be certain death. So, evolution would favor those who stay determined and motivated that their actions truly determine their fate.
    </p>
    <p>
        But isn't this just proving that we have no control, and to give up? No. I believe that a world without free will is a great world. It makes me <i>more</i> determined to continue, because I know that if something goes wrong, it wasn't under my control. It was just a function of the universe. And if I succeed, I know that it was because of my actions, and my actions alone. It's a great way to take responsibility for your actions, and to not blame others for your failures.
    </p>
</section>
<section>
    <h2>Free will & the justice system</h2>
    <p>
        But if we were to, as a society, acknowledge the absence of free will in our lives, it would most certainly affect our justice system permanently. Our current system (in the US, at least) uses blame to dictate who must pay for a crime. If someone was murdered, punishment is given to the person who pulled the trigger. If someone was forced to kill someone, punishment is given to the person who forced another to pull the trigger. Blame is the function which justice uses to dictate itself.
    </p>
    <p>
        Another thing the podcast made me think about is just this- and how as we, as a society, have moved away from blame, quality of life has improved. We used to think that lefties were witches, that epileptics were consumed by the devil and needed a lobotomy, and that autists were just idiots who needed to be locked up. We know this to be false, and for all of these innocent people, life has improved. And more recently, things like schizophrenia, cancer, and other traits have been traced to genetic illnesses or triggers. Society is, truly, transitioning away from a blame-oriented society.
    </p>
    <p>
        But many people are using the slippery-slope fallacy to say that murderers will be diagnosed with something to exonerate them. But this doesn't need to be true! We can still arrest and rehabilitate criminals, and acknowledge the factors that led them to murder people. For example, many of you thought of Hitler as a reason we should not implement a rehabilitation-oriented justice system. <i>If he came back, we should execute him! Not rehabilitate him</i>! This is a very fair point, one that I struggle with myself. But we still can arrest him, learn from him, and then, after we have learned from him, have our way with his remains.
    </p>
    <p>
        In all, we need to look deeper into the causes for everything, instead of seeing free will as the dictator of actions. This, I believe, will create a safer, stronger, and smarter society.
    </p>
</section>