<p>
    Just by the title, you might not understand what this post is even about. But, I assure you, I have something good to say about this. This blog post is my <i>opinion</i> on the Dunning-Kruger curve, and why I think it is so important to be critical of yourself.
</p>
<section>
    <h3>What is the Dunning-Kruger Curve?</h3>
    <p>
        I'm so glad you asked. The Dunning-Kruger curve is a simple image / chart that helps represent imposter syndrome, ignorance, and underconfidence, all in one model. Please observe the following image:
    </p>
    <img style="max-width: 600px;" src="https://blog.tomatopay.co.uk/hubfs/Dunning-Kruger-Effect.png">
    <p>
        If you notice in the labels, there are multiple sections of the graph. Let me explain them to you.
        <ol>
            <li>
                <b>The Peak</b> <br> this is where you stand when you think you know all there is to know on a subject, but in reality, there is much to learn.
            </li>
            <li>
                <b>The Valley</b> <br> this is when you are becoming cultured on a subject, but really there is much to know that you don't. This is the lowest confidence one can get, because this is where it dawns on them that there is so much they don't know.
            </li>
            <li>
                <b>The Confidence Gap</b> <br> notice how the graph represents an inverse square root graph. After a certain point, the confidence levels plateau, and one will never be as confident as they were as an ignorant person.
            </li>
        </ol>
    </p>
    <p>
        So, what does this even represent? Well, this can be interpreted in multiple ways. The way that I view the curve, is that even though there is always more to learn, you shouldn't bother yourself with being over-confident. 
    </p>
    <p>
        But, it is still important to not be too hard on yourself. This is a lesson I have been learning for a while now, but in general, we are all monkeys who are programmed to overreact to everything. It's in our DNA, its how we work.
    </p>
    <p>
        The mix of both of those viewpoints causes a very common experience called "Imposter Syndrome". How does one know if they are on the peak, or on the plateau? What if one is actually incredibly ignorant, but thinks they know all there is to know? What if <i>I</i>, Nate Levison, have no clue what I am doing, and I am incredibly far behind everyone else?
    </p>
    <p>
        In Computer Science especially, this thought process comes to fruition with aspiring developers like myself. There isn't much of a way past it, but my recommendation to anyone struggling with this idea is the following: even if you are on the peak, as long as you keep on trying, you will eventually succeed. Even if you aren't <i>yet</i> an expert, if you keep on trying, you will eventually be an expert.
    </p>
</section>
<section>
    <h3>After you overcome Imposter Syndrome</h3>
    <p>
        I believe that I have mostly overcome this roadblock, as I have accepted there is always more to learn. I keep on trying to learn new things, and if I am struggling with something that I don't understand, (java swing), then I will just keep on learning and improving, until I understand it. No one was an expert instantly, so I always remind myself that learning is an important part of building skill.
    </p>
    <p>
        So, moral of the story? Make sure to stay humble, but always stay confident. Nothing good will come your way if you refuse to learn, either by overconfidence or fear. Thanks for reading, grandma.
    </p>
</section>