<p>
    I was wrong about free will. At least, part of my justification for my beliefs was incorrect. In my free will post <a href="https://natelevison.com/blog/article/free-will">here</a>, I mentioned my justification, which in a nutshell, was because everything could be predicted with some amount of certainty. But I think I am wrong.
</p>
<section>
    <h1>The Argument</h1>
    <p>
        First- the obvious part. I've been busy with college apps, and then I realized there was a gaping hole in my argument. I still think I'm right in some regards, but not in others. So that's why it's taken me a while to get to this.
    </p>
    <p>
        So, here is the excerpt from the post that I think is flawed:
    </p>
    <p class="quote">
        This is where we get into the real world. The Big Bang happened <i>once</i>, and the particles were arranged in a
        certain way. If a very smart scientist, with very good equipment, and thousands of years of calculating power could
        know the exact state of all those particles at the singularity, eventually, they could predict the state of the
        universe at any point in time. This is because the universe is a closed system, and the laws of physics are the same
        everywhere.
    </p>
    <p>
        In a deterministic view of the universe (which is the view I subscribe to, except previously, I didn't know the word for it), every interaction is constant, meaning the same inputs cause the same outputs. An opposing view would cite randomness or quantum mechanics to explain the unpredicability. But there is some details to the argument that I missed. The thing is, the position and information about the particles in our universe isn't rounded, or nice numbers, or anything. There are an <i>infinite</i> amount of decimal places for a particle. Just as we will never know the true value of pi, we can never know the true position, speed, etc of a particle, because there are just <i>so many decimal places</i>. Therefore, since you can't find the value of a particle, you can't 100% accurately predict the result of an interaction.
    </p>
    <p>
        Here's the thing- we can come real close- but never 100%. And in the universe, small things add up. And no two particles are in a vacuum, as they are being affected by every other of the trillions of trillions of particles floating around in the universe, so we really can't predict anything.
    </p>
</section>
<section>
    <h1>The Uncertainty Principle</h1>
    <p>
        There's another reason why it is impossible to know the true value of a particle, and that is the Uncertainty Principle. If I am understanding it right, it basically says that you can't perfectly know both the position and the speed of a particle. For example, say you take a photo of a person running really fast. Chances are, it is blurry, because the person is moving fast. With this photo, you can judge how fast they are running, and sort of figure out where they are. But if you take a much better photo, super clear, really fast shutter speed, the blur completely goes away. Now, you can't find the speed of the person, because there is no blur, but you can find the position.
    </p>
    <p>
        This applies to particles as well. If you use a fancy "camera" to take a "photo" of a particle, you can't know the position of the particle and the speed at the same time. And if you take a photo and a speed meter one after the other, they won't be at the same instant. It is truly impossible to know everything about a particle, which is necessary to calculate the exact value of an interaction.
    </p>
</section>
<section>
    <h1>Summary</h1>
    <p>
        In summary, the thing I was wrong about was the hypothetical that with enough time, you could calculate the result of any interaction. I was wrong because there are too many decimals, and because you can't actually detect the speed and position at the same time. So what does that mean for my argument?
    </p>
    <p>
        I still think I am right. I think the universe is deterministic. But that doesn't mean it is predictable. In other words, there is no actual randomness in the universe, but we can never actually calculate the result of anything. So it's kind of a blend of deterministic and random views of the universe.
    </p>
    <p>
        In terms of life and stuff, just as I closed the original article, I still think that it gives me even more appreciation for everything in the world. Everything is so complex- infinitely complex- and yet it was all meant to be. Or however you want to interpret it. Also Grandma, thanks for your call questioning my article. It made me realize that some people just don't see the world this way.. and thats fine! Bye bye
    </p>
</section>