main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  border: 1px solid var(--gray-1);
  width: 50%;
  margin: 5px;
  border-radius: 5px;
}

.about-area {
  border: 1px solid var(--gray-1);
  width: 40%;
  margin: 5px;
  border-radius: 5px;
  padding: 20px;
}

.about-title > .divider {
  border-bottom: 2px solid var(--gray-1);
  width: 80%;
  /* align center */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.about-title {
  text-align: center;
}

.about-title > h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.about-more {
  text-align: center;
  margin: auto 5px;
}

.about-lnk:link, .about-lnk:visited {
  color: var(--gray-2);
}

.about-lnk:hover, .about-lnk:active {
  color: var(--prim-color)
}

.about-more > button {
  background-color: var(--prim-color);
  border: 1px solid var(--prim-color);
  color: white;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  font-size: 1.2em;
}

.about-more > button:hover {
  background-color: var(--secondary-color);
}

.about-content {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
}