.title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.content {
    border-left: 5px solid rgb(192, 192, 192);
    padding-left: 10px;
    border-radius: 3px;
}

.highlighted {
    color: red;
}

.nothighlighted {
    color: black;
    transition: color 1s;
}

#latest {
  font-size: 10px;
}

#welcome {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
  width: fit-content;
}

body {
    padding-top: 20px;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}