@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.STD-box {
    border: 0.5px solid #646464;
    border-radius: 10px;
    margin: 10px;
}

.STD-center-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.STD-box.STD-center-box {
    margin: 10px auto !important;
}