<p>THIS IS THE ATCS FINAL LOG</p>
<p>I will periodically update this when I make big progress</p>
<p>You can also see more at the <a href="https://github.com/Cheespeasa1234/ATCS-Final">GitHub Page</a></p>

<section>
    <h2>Progress Update - May 22</h2>
    <p>
        I have finished the basic packet system and connecting clients. The server can handle multiple clients at once, and they can chat and share status. However, for some reason, once a client disconnects, the server bugs out.
    </p>
    <p>
        One severe issue I've been experiencing is when a thread has an exception, sometimes, it doesn't report it. And I have no clue why. It means that if the DataManager input thread crashes for a client, I have no way of knowing, except manually assigning Ignored Exception handlers. And at this point in time, I'm too disorganized for that.
    </p>
    <p>
        I'll probably be able to start making gameplay later this week, or next week. I'm mainly working on bugs and issues with sending packets and threading. Hopefully I'll be able to increase velocity.
    </p>
</section>
<section>
    <h2>Progress Update - June 3</h2>
    <p>
        I have completely finished the underlying systems behind the gameplay. Some gameplay exists but barely any. Its just really tough to get user interactions. Like, getting the prompt input only in one phase of the game.
    </p>
    <p>
        I might be able to get <i>some</i> gameplay in place soon.
    </p>
</section>