<p>
    During a road trip with my mom, we listened to a podcast about free will, and whether or not it actually exists. Before listening to the podcast, I had already made up my mind, that no, free will does not exist. So, while listening to this podcast, my view of what the meaning of no free will changed.
</p>
<p>
    Before I listened, honestly, my opinion that free will didn't exist came out of my negative view of the world. <i>Oh, I failed this test? There's nothing I could've done</i>, or <i>Aw man, I am really miserable. Welp, there's no free will, so I guess I just have to suffer.</i>. In all, my "view" of free will was just an excuse to not take responsibility for my actions. I was just a victim of the world, and there was nothing I could do about it.
</p>
<p>
    But this podcast changed something about how I feel. It both helped me justify my view on free will, and make it more of a positive outlook on life.
</p>
<section>
    <h2>My current view of free will</h2>
    <p>
        The reason I believe in there not being free will, is because there is no other way anything could be. I see it as a function, probably a side-effect of my constant programming. For example, if you take a perfectly closed system, and put a bouncy ball in it, and dropped it at zero velocity, a smart mathematician could predict the position of the ball at any point in time, with 100% accuracy. We could add more variables, like wind, spin, and the ball's temperature, but as long as the true value was known 100%, so could the state at any point in time.
    </p>
    <p>
        Why do I explain this? Well, it's because the world is aware of its own exact state. If you take two sets of bouncy balls, and arrange them the exact same way, ignoring gravity, they would fall <i>exactly</i> the same way, at the same speed. The same goes for particles. Any two particles, if their true state was 100% known, could be predicted perfectly. And since the laws of physics know the true state, they can "predict" the future.
    </p>
    <p>
        This is where we get into the real world. The Big Bang happened <i>once</i>, and the particles were arranged in a certain way. If a very smart scientist, with very good equipment, and thousands of years of calculating power could know the exact state of all those particles at the singularity, eventually, they could predict the state of the universe at any point in time. This is because the universe is a closed system, and the laws of physics are the same everywhere.
    </p>
    <p>
        And this extends to the human brain. It is made of particles, of cells, of neurons, where if their exact state was known, could be predicted. And since the universe knows the exact state of the brain, it can predict the future. Usually 
    </p>
</section>