<p>
    Welcome back to my blog. My previous post was in depth about how my blog system specifically works, but I have yet to discuss my tech stack choice, how I came to that decision, and how this all started. The way this article will work, is that I will provide a timeline (as accurately as I can) that describes the state of progress at that time. So buckle up, buttercups, because I didn't work for all these years for you not to read this all!
</p>
<section>
    <h3>2014 (Elementary School)</h3> <h5>7 B.C.</h5>
    <p>
        In elementary school, a couple of things happened to me that started me off on this journey that I am taking to this day. First of all, as a textbook example of undiagnosed ADHD, I struggled to pay attention, so they put me in PAL (Program for advanced learning). I continued that till the end of second year of middle school. In PAL, the teacher was definitely unique. From what I understand and remember, his cousin was supposed to be teaching the "class", but they switched places and the teacher who took his place didn't follow the curriculum. Thank god for that, though, because he showed us code.org before any other class got it, 2 years later. I do not remember whether or not I enjoyed it, but it definitely got the ball rolling.
    </p>
    <h3>2018 (Summer of PFC)</h3> <h5>3 B.C.</h5>
    <p>
        PFC was a camp that was not for me. Let's not get into it. I left after ten days and returned to the Garden State defeated and bored. My mom, who was working at my sisters' day camp at the time, took me under her wing and let me stay in her office with a few other people. There, I started to learn JavaScript on codecademy, and I guess that is where I learned the fundamentals of code. I did this every day for a bit more than a month, sometimes joining in with the camp activities I used to participate in (when I was younger, I went to the day camp as well).
    </p>
    <h3>2021 (Freshman Year)</h3> <h5>0 A.C.</h5>
    <p>
        Nothing really happened during the peak of COVID coding-wise, nor did it for a few years before. But that was okay, as I was far too immature to really understand programming. However, in Freshman year, I decided to take Computer Science I. I knew I would like coding so I thought why the hell not. That year, I slowly started learning, and picking up the pace of my learning until I was far ahead the bouts of my peers. I began associating with some nerd named Thomas, who definitely looked emo and always scared me when he opened his backpack. I didn't know much about what his interests were, all I knew though was that he was a bit ahead of me programming-wise.
    </p>
    <p>
        You may have realized by now that I have not mentioned any specific projects. Well, that is because the focus of this article is on my progress towards making this website. 
    </p>
</section>