<p>
	Yes, this is a RANT. If you don't <i>actually</i> want to read what I think about, I suggest leaving. And that also applies to anyone from school administration. You can all shove it.
</p>
<section>
<p>
I'm kind of pissed at school right now. There are some kids who REALLY need some sense knocked into them. They never got punished or shown that others have boundaries- they just think that they can walk over everyone with zero pushback. They blatantly disregard the LAW that restrains them from others, and just think there will be no consequences. They only understand physical consequences- probably because they are administering them themselves. And it is entirely my <i>right</i> to fight back with any means available to myself, be it physical, administrative, or <i>alternative</i>. And anyone who disagrees clearly is scared of what will happen if people can defend themselves.
</p>
<p>
But I don't want to push back. What if there is a reason people are asshats? Maybe they don't understand social cues. Perhaps they have no where else to release their feelings and emotions. I wish I could <i>be</i> meaner. I can <i>feel</i> meaner. I have no sympathy or hope for certain people- they don't deserve it. But I wish I could do <i>something</i> about the way I feel, instead of just being pissed. What <i>could</i> I do? What could I even <i>say</i>? Can I even say anything, in post 9/11 america? No, not really. Can I even do anything, in post Parkland america? No, absolutely not. Can I do anything in my medicated body? No, I can't get stressed enough.
</p>
<p>
I wish I could do SOMETHING, anything about the way I feel, though. But I can. I can use the help available to me from administrators. I can use the support of my friends to push back. I can also just, be cruel. Lemon juice. Fart bomb. Disney movie on blu-ray. All absolute hellspawn. I could do worse things, but [THE FBI HAS SIEZED THIS DOMAIN]. I can't do anything.
</p>
</section>
<section>
End of rant. Why are you still reading? You shouldn't have gotten here. Unless my code doesn't work, to hide this shit. Please report on the GitHub if so. Anyway, end of rant. Bye.
</section>
