/* @import url('/font/Lato-v24/faces.css'); */

:root {

    --color-100: rgb(40, 156, 202);
    --color-110: rgb(20, 137, 183);
    --color-111: rgba(20, 137, 183, 0.1);
    --color-112: rgba(20, 137, 183, 0.25);
    --color-120: rgb(39, 136, 151);
    --color-130: rgb(61, 179, 226);
    --color-140: rgb(61, 179, 226);
    --color-150: rgb(16, 196, 151);
    --color-500: #eaeaea;
    --color-501: #e1e1e1;
    --color-510: #c4c4c4;
    --color-520: #7d7d7d;
    --color-530: #414141;
    --color-540: #474747;

}

p {
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif !important;
}

.h6, h6 {
    font-weight: normal;
}

.h4, h4, .h5, h5 {
    font-weight: 500;
}